<div class='contact-page'>
<div class='container'>
  <h2>
  We are a team dedicated to providing support to homeless with the help of small businesses. We are here to make our society better and become more social responsible.
  </h2>
<br><br>

  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="thumbnail">
        <div class="caption">
          <%= image_tag 'aa3.png' %>
          <h4 align="center">Jason Xu</h4>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="thumbnail">
        <div class="caption">
          <%= image_tag 'aa4.png', size: "184x188"%>
          <h4 align="center">Fatma Ocal</h4>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="thumbnail">
        <div class="caption">
          <%= image_tag 'aa1.png', size: "184x188" %>
          <h4 align="center">Jorge Ortiz</h4>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
