<div class='contact-page'>
<div class='container'>
  <h2>
  We are a team dedicated to providing support to homeless with help of small businesses.
  </h2>
<br><br>

  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="thumbnail">
        <div class="caption">
          <a href="https://www.linkedin.com/in/jasonxu3"><%= image_tag 'aa3.png'%>
          <h4 align="center">Jason Xu</h4></a>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="thumbnail">
        <div class="caption">
          <a href="https://www.linkedin.com/in/fatmaocal">
            <%= image_tag 'fatma.jpeg'%>
          <h4 align="center">Fatma Ocal</h4></a>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="thumbnail">
        <div class="caption">
          <%= image_tag 'aa1.png', size: "184x188" %>
          <h4 align="center">Jorge Ortiz</h4>
        </div>
      </div>
    </div>
  </div>
  <h3 align="center">
    We are here to make our society better and become more social responsible.
  </h3>
</div>
</div>
