<div class='contact-page'>
<div class='container'>
  <h2>
  We are a team dedicated to providing support to homeless with the help of small businesses. We are here to make our society better and become more social responsible.
  </h2>
</div>
</div>
