<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Help My Neighbor</h1>
        <p class="lead">Here at HelpMyNeighbor our mission is to integrate the San Francisco community by allowing small businesses to commit to socially responsible causes focusing on homelessness.</p>
        <p>To facilitate this we have developed a website that will make it easy for the homeless to find resources with in the small business community.</p>
      </div>
      <div class="col-md-5">
        <img src="https://dl.dropboxusercontent.com/u/69054817/ho93.jpg" class="img-thumbnail">
      </div>
    </div>
  </div>
</div>


<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Food Discount Locations</h3>
        <img src="https://dl.dropboxusercontent.com/u/69054817/food1.jpeg" class="img-thumbnail">
      </div>
      <div class="col-md-6">
        <h3>Shelter Accessibility</h3>
        <a href="/shelter"><img src="https://dl.dropboxusercontent.com/u/69054817/shelter3.png" class='img-thumbnail'></a>
      </div>
    </div>
  </div>
</div>
