<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
  <section>
    <h2>Welcome to Help My Neighbor</h2>
    <p>We know trying to make it from day to day can be very difficult. Trying to find affordable places to eat, purchase household materials, or even to find a place to sleep for the night. We hope this site will help you to find these necessary resources quickly.</p>
  </section>
