

<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>MapBox Search</title>
<body>
  <%= react_component('HelloMessage', name: 'Jacob') %>
  <%= react_component('HelloMessage', name: 'Fatma') %>
  <!-- becomes: -->
  <div data-react-class="HelloMessage" data-react-props="{&quot;name&quot;:&quot;John&quot;}"></div>
  testing react
</body>
</html>