/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.form-control {
  width: 90%;
}
/*
.debug {
  border: 1px red solid;
}*/

footer {
  background-color: #333;
  color: white;
  height: 75px;
}

.services {
  background-color: #ccc;
  padding-bottom: 30px;
}

.jumbotron {
  padding-bottom: 10px;
}

.navbar {
  margin-bottom: 0;
}

.shelter-page {
  margin-top: 350px;
  margin-bottom: 500px;
}

.contact-page {
  margin-top: 125px;
  margin-bottom: 300px;
}

.paragraph {
  font-size: 20px;
}
